<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jazz</title>
</head>
<body>
 <div style="margin: auto;
                margin-top: 100px;
                width: 300px">
        {% for Jazz in jazz %}

        <div style="border: 3px solid black;
                    margin-bottom: 10px;
                    text-align: center;">
            <p>{{ Jazz }}</p>
            <p>{{ Jazz.favorite_music}}</p>
            <p>{{ Jazz.biography}}</p>


        </div>
        {% endfor %}
   </div>



</body>
</html>