<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rok</title>
</head>
<body>
 <div style="margin: auto;
                margin-top: 100px;
                width: 300px">
        {% for Rok in rok %}

        <div style="border: 3px solid black;
                    margin-bottom: 10px;
                    text-align: center;">
            <p>{{ Rok }}</p>
            <p>{{ Rok.favorite_music}}</p>
            <p>{{ Rok.biography}}</p>


        </div>
        {% endfor %}
   </div>



</body>
</html>